.projects_container h1{
    color: white;
    text-align: center;
    font-size: 45px;
}

.projects_cards{
    display: grid;
    grid-template-columns: auto auto;
    width: 78%;
    margin: 50px auto;
    gap: 3rem;
    height: 470px;

}

.project{
    background: var(--color-se);
    border-radius: 10px;
}

.project h3{
    font-size: 22px;
    font-weight: bolder;
    margin: 20px 0 0 30px;
}

.project h4{
    margin: 0 0 0 30px;
}

.project p{
    margin: 20px 0 0 30px;

    width: 85%;
}

