@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
  --color-bg: #1E1E1E;
  --color-bg-light: #272727;
  --color-se: #FEDA4E
}

body {
  background: #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

.container {
  width: 100%;
  height: max-content;
  margin: 0 0 0 0;
  padding: 20px 0 100px 0;
 /* border: 1px solid red;*/
}